form {
  margin: 2rem;
  input {
    height: 50px;
    border: 1px solid grey;
    background: transparent;
    padding-left: 1rem;
    color: white;
    ::placeholder {
      color: white;
    }
  }

  button {
    height: 50px;
    padding: 0.5rem 2rem;
    border: 1px solid grey;
    background-color: #474747;
    color: white;
    transition: ease-in-out 0.3s;
    &:hover {
      background-color: #8d8d8d;
    }
  }
}
.listChars {
  margin: 2rem;
  width: 340px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow: overlay;
  height: 50vh;
}
